
<!DOCTYPE html>
<html lang="en">
<head>
  <title>e</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
body {text-align: center;
		background-color:lightgreen}

</style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Logout</a>
    </div>
   
  </div>
</nav>
<div class="container-fluid" >
  <h3></h3>
  <h1 class="display-3">WELCOME TO STUDENT DEPARTMENT</h1>
  <br>
  
 
  <a href="/new" class="btn btn-primary btn-lg " role="button" aria-disabled="true">NEW REGISTRATION</a><br><br>
<a href="/show" class="btn btn-warning btn-lg " role="button" aria-disabled="true">SHOW ALL STUDENTS</a>
 </div>
 


</body>
</html>